<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher *ngIf="!disableRefresher" pullMax="300" pullMin="70" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      pullingIcon="ios-arrow-down">
    </ion-refresher-content>
  </ion-refresher>

  <div class="search-box-container" *ngIf="showSearchBox">
    <search-box [(text)]="searchText" (doSearch)="doSearch()"></search-box>
  </div>

  <div *ngIf="totalCount>=0">

    <ion-list-header>
      {{totalCount}} Repos
    </ion-list-header>

    <ion-list>
      <button ion-item *ngFor="let repo of repos" (click)="viewRepo(repo)">
        <repo-item [repo]="repo" [showOwnerLogin]="!hideOwnerLogin"></repo-item>
      </button>
    </ion-list>

    <div class="empty-list-placeholder" *ngIf="totalCount==0">
      <ion-icon name="ios-folder-open-outline"></ion-icon>
    </div>

    <div class="list-end-footer" *ngIf="!pageInfo.hasNextPage && totalCount>0">
      <span>End</span>
    </div>

  </div>

  <ion-infinite-scroll *ngIf="pageInfo?.hasNextPage" (ionInfinite)="$event.waitFor(appendRepos())">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
