repo-item {
  p.description{
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 4px;
  }
  span.language-block{
    display: inline-block;
    width:1em;
    height:1em;
    position: relative;
    top: 0.15em;
  }
  span.widget{
    display: inline-block;
    padding-right: 1em;
    ion-icon{
      position: relative;
      top:0.05em;
    }
  }
}
