<h2>
  <span *ngIf="showOwnerLogin">{{repo.owner.login}}/</span>{{repo.name}}
  <ion-icon *ngIf="repo.isPrivate" name="lock"></ion-icon>
</h2>
<p class="description">{{repo.description}}</p>
<p>
  <span *ngIf="repo.primaryLanguage" class="widget">
    <span class="language-block" [style.background-color]="languageColor"></span>
    {{repo.primaryLanguage.name}}
  </span>
  <span *ngIf="repo.stargazers.totalCount>0" class="widget">
    <ion-icon name="md-star"></ion-icon>
    {{repo.stargazers.totalCount<1000?repo.stargazers.totalCount:(repo.stargazers.totalCount/1000).toFixed(1)+'k'}}
  </span>
  <span *ngIf="repo.forks.totalCount>0" class="widget">
    <ion-icon name="md-git-network"></ion-icon>
    {{repo.forks.totalCount<1000?repo.forks.totalCount:(repo.forks.totalCount/1000).toFixed(1)+'k'}}
  </span>
</p>

