<h2>
  <span *ngIf="showOwnerLogin">{{repo.owner.login}}/</span>{{repo.name}}
</h2>
<p class="description">{{repo.description}}</p>
<p>
  <span *ngIf="repo.primaryLanguage" class="widget">
    <span class="language-block" [style.background-color]="languageColor"></span>
    {{repo.primaryLanguage.name}}
  </span>
  <span *ngIf="repo.stargazers.totalCount>0" class="widget">
    <ion-icon name="md-star"></ion-icon> {{repo.stargazers.totalCount}}
  </span>
  <span *ngIf="repo.forks.totalCount>0" class="widget">
    <ion-icon name="md-git-network"></ion-icon> {{repo.forks.totalCount}}
  </span>
</p>

