page-repo {

  div.meta{
    padding:3rem 20px 0;
    text-align: center;
    h2.name{
      font-size: 3rem;
    }
    h3.login{
      color: #9f9f9f;
      font-size: 2rem;
    }
    p.topics{
      span{
        display: inline-block;
        background-color: #959595;
        margin:0.15em 0.25em;
        padding: 0.2em 0.4em;
        border-radius: 0.3em;
        color: #ffffff;
      }
    }
    p.widgets{
      span.widget{
        display: inline-block;
        margin-right: 1.2em;
      }
      span.language-block{
        display: inline-block;
        width:1em;
        height: 1em;
        position: relative;
        top:0.1em;
      }
    }
    p.description{
      font-size: 1.4rem;
    }
  }


  div.statistic{
    padding:5px 15px 10px;
    ion-col{
      text-align: center;
      b{
        font-size: 2rem;
      }
    }
  }


  div.readme{
    padding:1.2em;
    div.header{
      background-color: #959595;
      color: #ffffff;
      padding:0.5em 1em;
    }
    markdown .markdown{
      border: solid 1px #959595;
      padding: 1em;
    }
  }


  div.secondary{
    padding:0 20px;
    ion-col{
      text-overflow: ellipsis;
      overflow: hidden;
      ion-icon{
        display: inline-block;
        width:1.1em;
        position: relative;
        top:0.05em;
        color: #5d5d5d;
      }
    }
  }

}
