<ion-header>

  <ion-navbar>
    <ion-title>Repo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher pullMax="300" pullMin="70" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      pullingIcon="ios-arrow-down">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="repo">
    <div class="meta">
      <h3 class="login">{{repo.owner.login}}</h3>
      <h2 class="name">{{repo.name}}</h2>
      <p class="topics">
        <span *ngFor="let topic of repo.repositoryTopics.nodes">
          {{topic.topic.name}}
        </span>
      </p>
      <p class="widgets">
        <span *ngIf="repo.primaryLanguage" class="widget">
          <span class="language-block" [style.background-color]="languageColor"></span>
          {{repo.primaryLanguage.name}}
        </span>
        <span class="widget" *ngIf="repo.diskUsage">
          <ion-icon name="folder"></ion-icon>
          {{repo.diskUsage}} KB
        </span>
        <span class="widget" *ngIf="repo.isPrivate">
          <ion-icon name="lock"></ion-icon>
          private
        </span>
        <span class="widget" *ngIf="repo.isFork">
          <ion-icon name="git-network"></ion-icon>
          fork
        </span>
        <span class="widget" *ngIf="repo.isMirror">
          <ion-icon name="map"></ion-icon>
          mirror
        </span>
      </p>
      <p class="description">{{repo.description}}</p>
    </div>

    <div class="statistic">
      <ion-row>
        <ion-col>
          <a (click)="viewStargazers()">
            <b>{{repo.stargazers.totalCount}}</b><br>Stars
          </a>
        </ion-col>
        <ion-col>
          <a (click)="viewForks()">
            <b>{{repo.forks.totalCount}}</b><br>Forks
          </a>
        </ion-col>
        <ion-col>
          <a (click)="viewWatchers()">
            <b>{{repo.watchers.totalCount}}</b><br>Watches
          </a>
        </ion-col>
      </ion-row>
    </div>

    <div class="secondary">
      <ion-row>
        <ion-col col-6>
          <ion-icon name="alert"></ion-icon>
          {{repo.issues.totalCount}} issues
        </ion-col>
        <ion-col col-6>
          <ion-icon name="git-pull-request"></ion-icon>
          {{repo.pullRequests.totalCount}} pull requests
        </ion-col>
        <ion-col col-6>
          <ion-icon name="pricetags"></ion-icon>
          {{repo.releases.totalCount}} releases
        </ion-col>
        <ion-col col-6>
          <ion-icon name="document"></ion-icon>
          {{repo.license?repo.license:'No license'}}
        </ion-col>
        <ion-col col-12>
          <ion-icon name="time"></ion-icon>
          Updated at {{repo.updatedAt}}
        </ion-col>
      </ion-row>
    </div>

    <div class="readme" *ngIf="readme" [hidden]="!repo">
      <div class="header">
        README
      </div>
      <markdown [text]="readme" [baseUrl]="markdownBaseUrl"></markdown>
    </div>

  </div>

</ion-content>
