page-dashboard {
  ion-item{
    ion-avatar{
      font-size: 1.5em;
      margin: 0 0.4em 0 0!important;
      display: flex;
      justify-content: center;
      align-items: center;
      ion-icon{
        color: #959595;
      }
    }
    p{
      white-space: normal;
    }
  }
}
