page-settings {
  .big-logo{
    background-color: #ffffff;
    width:40%;
    max-width: 10em;
    display: inline-block;
    border-radius: 1em;
    padding:1em;
    margin-top: 6em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px 5px rgba(158, 158, 158, 0.1);
  }
  p{
    line-height: 1.6em;
  }
}
