<ion-header>

  <ion-navbar>
    <ion-title>User</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="userProfile" style="padding-bottom: 30px">

    <div class="meta">
      <img [src]="userProfile.avatarUrl" class="big-avatar">
      <h2 class="name">{{userProfile.name}}</h2>
      <h3 class="login">{{userProfile.login}}</h3>
      <p class="bio">{{userProfile.bio}}</p>
    </div>

    <div class="statistic">
      <ion-row>
        <ion-col>
          <a (click)="viewRepos()">
            <b>{{userProfile.repositories.totalCount}}</b><br>Repos
          </a>
        </ion-col>
        <ion-col>
          <a (click)="viewStars()">
            <b>{{userProfile.starredRepositories.totalCount}}</b><br>Stars
          </a>
        </ion-col>
        <ion-col>
          <a (click)="viewFollowers()">
            <b>{{userProfile.followers.totalCount}}</b><br>Followers
          </a>
        </ion-col>
        <ion-col>
          <a (click)="viewFollowing()">
            <b>{{userProfile.following.totalCount}}</b><br>Following
          </a>
        </ion-col>
      </ion-row>
    </div>

    <ion-list-header>
      Info
    </ion-list-header>
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="people"></ion-icon>
        </ion-avatar>
        <h2>Company</h2>
        <p>{{userProfile.company}}</p>
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="navigate"></ion-icon>
        </ion-avatar>
        <h2>Location</h2>
        <p>{{userProfile.location}}</p>
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="mail"></ion-icon>
        </ion-avatar>
        <h2>Email</h2>
        <p>{{userProfile.email}}</p>
      </ion-item>
    </ion-list>

    <ion-list-header>
      Pinned Repos
    </ion-list-header>

    <ion-list>
      <ion-item *ngFor="let repo of userProfile.pinnedRepositories.nodes">
        <repo-item [repo]="repo" [showOwnerLogin]="false"></repo-item>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
