markdown {
  @font-face {
    font-family: octicons-link;
    src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
  }

  .markdown {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #24292e;
    font-family: octicons-link, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5em;
    word-wrap: break-word;
  }

  .markdown /deep/ .pl-c {
    color: #6a737d;
  }

  .markdown /deep/ .pl-c1,
  .markdown /deep/ .pl-s .pl-v {
    color: #005cc5;
  }

  .markdown /deep/ .pl-e,
  .markdown /deep/ .pl-en {
    color: #6f42c1;
  }

  .markdown /deep/ .pl-smi,
  .markdown /deep/ .pl-s .pl-s1 {
    color: #24292e;
  }

  .markdown /deep/ .pl-ent {
    color: #22863a;
  }

  .markdown /deep/ .pl-k {
    color: #d73a49;
  }

  .markdown /deep/ .pl-s,
  .markdown /deep/ .pl-pds,
  .markdown /deep/ .pl-s .pl-pse .pl-s1,
  .markdown /deep/ .pl-sr,
  .markdown /deep/ .pl-sr .pl-cce,
  .markdown /deep/ .pl-sr .pl-sre,
  .markdown /deep/ .pl-sr .pl-sra {
    color: #032f62;
  }

  .markdown /deep/ .pl-v,
  .markdown /deep/ .pl-smw {
    color: #e36209;
  }

  .markdown /deep/ .pl-bu {
    color: #b31d28;
  }

  .markdown /deep/ .pl-ii {
    color: #fafbfc;
    background-color: #b31d28;
  }

  .markdown /deep/ .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49;
  }

  .markdown /deep/ .pl-c2::before {
    content: "^M";
  }

  .markdown /deep/ .pl-sr .pl-cce {
    font-weight: bold;
    color: #22863a;
  }

  .markdown /deep/ .pl-ml {
    color: #735c0f;
  }

  .markdown /deep/ .pl-mh,
  .markdown /deep/ .pl-mh .pl-en,
  .markdown /deep/ .pl-ms {
    font-weight: bold;
    color: #005cc5;
  }

  .markdown /deep/ .pl-mi {
    font-style: italic;
    color: #24292e;
  }

  .markdown /deep/ .pl-mb {
    font-weight: bold;
    color: #24292e;
  }

  .markdown /deep/ .pl-md {
    color: #b31d28;
    background-color: #ffeef0;
  }

  .markdown /deep/ .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4;
  }

  .markdown /deep/ .pl-mc {
    color: #e36209;
    background-color: #ffebda;
  }

  .markdown /deep/ .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5;
  }

  .markdown /deep/ .pl-mdr {
    font-weight: bold;
    color: #6f42c1;
  }

  .markdown /deep/ .pl-ba {
    color: #586069;
  }

  .markdown /deep/ .pl-sg {
    color: #959da5;
  }

  .markdown /deep/ .pl-corl {
    text-decoration: underline;
    color: #032f62;
  }

  .markdown /deep/ .octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
  }

  .markdown /deep/ a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }

  .markdown /deep/ a:active,
  .markdown /deep/ a:hover {
    outline-width: 0;
  }

  .markdown /deep/ strong {
    font-weight: inherit;
  }

  .markdown /deep/ strong {
    font-weight: bolder;
  }

  .markdown /deep/ h1 {
    text-align: left;
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 0.12em;
    margin: 25vh 0 0 0;
    line-height: 1em;
  }

  .markdown /deep/ h1 + p {
    text-align: left;
    color: #5b5b5b;
  }

  .markdown /deep/ img {
    border-style: none;
  }

  .markdown /deep/ svg:not(:root) {
    overflow: hidden;
  }

  .markdown /deep/ code,
  .markdown /deep/ kbd,
  .markdown /deep/ pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  .markdown /deep/ hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }

  .markdown /deep/ input {
    font: inherit;
    margin: 0;
  }

  .markdown /deep/ input {
    overflow: visible;
  }

  .markdown /deep/ [type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }

  .markdown /deep/ * {
    box-sizing: border-box;
  }

  .markdown /deep/ input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .markdown /deep/ a {
    color: #0366d6;
    text-decoration: none;
  }

  .markdown /deep/ a:hover {
    text-decoration: underline;
  }

  .markdown /deep/ strong {
    font-weight: 600;
  }

  .markdown /deep/ hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
  }

  .markdown /deep/ hr::before {
    display: table;
    content: "";
  }

  .markdown /deep/ hr::after {
    display: table;
    clear: both;
    content: "";
  }

  .markdown /deep/ table {
    border-spacing: 0;
    border-collapse: collapse;
  }

  .markdown /deep/ td,
  .markdown /deep/ th {
    padding: 0;
  }

  .markdown /deep/ h2,
  .markdown /deep/ h3,
  .markdown /deep/ h4,
  .markdown /deep/ h5,
  .markdown /deep/ h6 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .markdown /deep/ h2 {
    font-size: 24px;
    font-weight: 600;
  }

  .markdown /deep/ h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .markdown /deep/ h4 {
    font-size: 16px;
    font-weight: 600;
  }

  .markdown /deep/ h5 {
    font-size: 14px;
    font-weight: 600;
  }

  .markdown /deep/ h6 {
    font-size: 12px;
    font-weight: 600;
  }

  .markdown /deep/ p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .markdown /deep/ blockquote {
    margin: 0;
  }

  .markdown /deep/ ul,
  .markdown /deep/ ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .markdown /deep/ ol ol,
  .markdown /deep/ ul ol {
    list-style-type: lower-roman;
  }

  .markdown /deep/ ul ul ol,
  .markdown /deep/ ul ol ol,
  .markdown /deep/ ol ul ol,
  .markdown /deep/ ol ol ol {
    list-style-type: lower-alpha;
  }

  .markdown /deep/ dd {
    margin-left: 0;
  }

  .markdown /deep/ code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
  }

  .markdown /deep/ pre {
    margin-top: 0;
    margin-bottom: 0;
    font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

  .markdown /deep/ .octicon {
    vertical-align: text-bottom;
  }

  .markdown /deep/ .pl-0 {
    padding-left: 0 !important;
  }

  .markdown /deep/ .pl-1 {
    padding-left: 4px !important;
  }

  .markdown /deep/ .pl-2 {
    padding-left: 8px !important;
  }

  .markdown /deep/ .pl-3 {
    padding-left: 16px !important;
  }

  .markdown /deep/ .pl-4 {
    padding-left: 24px !important;
  }

  .markdown /deep/ .pl-5 {
    padding-left: 32px !important;
  }

  .markdown /deep/ .pl-6 {
    padding-left: 40px !important;
  }

  .markdown::before {
    display: table;
    content: "";
  }

  .markdown::after {
    display: table;
    clear: both;
    content: "";
  }

  .markdown>*:first-child {
    margin-top: 0 !important;
  }

  .markdown>*:last-child {
    margin-bottom: 0 !important;
  }

  .markdown /deep/ a:not([href]) {
    color: inherit;
    text-decoration: none;
  }

  .markdown /deep/ .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
  }

  .markdown /deep/ .anchor:focus {
    outline: none;
  }

  .markdown /deep/ p,
  .markdown /deep/ blockquote,
  .markdown /deep/ ul,
  .markdown /deep/ ol,
  .markdown /deep/ dl,
  .markdown /deep/ table,
  .markdown /deep/ pre {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .markdown /deep/ hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }

  .markdown /deep/ blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  .markdown /deep/ blockquote>:first-child {
    margin-top: 0;
  }

  .markdown /deep/ blockquote>:last-child {
    margin-bottom: 0;
  }

  .markdown /deep/ kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 2px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 #959da5;
  }

  .markdown /deep/ h2,
  .markdown /deep/ h3,
  .markdown /deep/ h4,
  .markdown /deep/ h5,
  .markdown /deep/ h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }

  .markdown /deep/ h1 .octicon-link,
  .markdown /deep/ h2 .octicon-link,
  .markdown /deep/ h3 .octicon-link,
  .markdown /deep/ h4 .octicon-link,
  .markdown /deep/ h5 .octicon-link,
  .markdown /deep/ h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
  }

  .markdown /deep/ h1:hover .anchor,
  .markdown /deep/ h2:hover .anchor,
  .markdown /deep/ h3:hover .anchor,
  .markdown /deep/ h4:hover .anchor,
  .markdown /deep/ h5:hover .anchor,
  .markdown /deep/ h6:hover .anchor {
    text-decoration: none;
  }

  .markdown /deep/ h1:hover .anchor .octicon-link,
  .markdown /deep/ h2:hover .anchor .octicon-link,
  .markdown /deep/ h3:hover .anchor .octicon-link,
  .markdown /deep/ h4:hover .anchor .octicon-link,
  .markdown /deep/ h5:hover .anchor .octicon-link,
  .markdown /deep/ h6:hover .anchor .octicon-link {
    visibility: visible;
  }

  .markdown /deep/ h1 {
    border-bottom: 1px solid #bfbfbf;
  }

  .markdown /deep/ h2 {
    padding-bottom: 0.3em;
    text-align: center;
    margin-top: 30vh;
    font-size: 2.5em;
  }
  .markdown /deep/ h2 + p{
    width:100%;
    text-align: center;
    color: #5b5b5b;
  }

  .markdown /deep/ h3 {
    font-size: 1.8em;
    padding-bottom: 0.1em;
    margin-bottom: 0.3em;
    border-bottom: 1px solid #bfbfbf;
  }

  .markdown /deep/ h4 {
    font-size: 1em;
  }

  .markdown /deep/ h5 {
    font-size: 0.875em;
  }

  .markdown /deep/ h6 {
    font-size: 0.85em;
    color: #6a737d;
  }

  .markdown /deep/ ul,
  .markdown /deep/ ol {
    padding-left: 2em;
  }

  .markdown /deep/ ul ul,
  .markdown /deep/ ul ol,
  .markdown /deep/ ol ol,
  .markdown /deep/ ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  .markdown /deep/ li>p {
    margin-top: 16px;
  }

  .markdown /deep/ li+li {
    margin-top: 0.25em;
  }

  .markdown /deep/ dl {
    padding: 0;
  }

  .markdown /deep/ dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
  }

  .markdown /deep/ dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }

  .markdown /deep/ table th {
    font-weight: 600;
  }

  .markdown /deep/ table th,
  .markdown /deep/ table td {
    padding: 6px 13px;
    border: 2px solid #dfe2e5;
  }

  .markdown /deep/ table tr {
    background-color: #fff;
    border-top: 2px solid #c6cbd1;
  }

  .markdown /deep/ table tr:nth-child(2n) {
    background-color: #f6f8fa;
  }

  .markdown /deep/ img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
  }

  .markdown /deep/ code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
  }

  .markdown /deep/ code::before,
  .markdown /deep/ code::after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }

  .markdown /deep/ pre {
    word-wrap: normal;
  }

  .markdown /deep/ pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }

  .markdown /deep/ .highlight {
    margin-bottom: 16px;
  }

  .markdown /deep/ .highlight pre {
    margin-bottom: 0;
    word-break: normal;
  }

  .markdown /deep/ .highlight pre,
  .markdown /deep/ pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
  }

  .markdown /deep/ pre code {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }

  .markdown /deep/ pre code::before,
  .markdown /deep/ pre code::after {
    content: normal;
  }

  .markdown /deep/ .full-commit .btn-outline:not(:disabled):hover {
    color: #005cc5;
    border-color: #005cc5;
  }

  .markdown /deep/ kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 2px #d1d5da;
    border-bottom-color: #c6cbd1;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
  }

  .markdown /deep/ :checked+.radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
  }

  .markdown /deep/ .task-list-item {
    list-style-type: none;
  }

  .markdown /deep/ .task-list-item+.task-list-item {
    margin-top: 3px;
  }

  .markdown /deep/ .task-list-item input {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
  }

  .markdown /deep/ hr {
    border-bottom-color: #eee;
  }




  .markdown /deep/ .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
  }

  .markdown /deep/ .hljs-comment,
  .markdown /deep/ .hljs-quote {
    color: #998;
    font-style: italic;
  }

  .markdown /deep/ .hljs-keyword,
  .markdown /deep/ .hljs-selector-tag,
  .markdown /deep/ .hljs-subst {
    color: #333;
    font-weight: bold;
  }

  .markdown /deep/ .hljs-number,
  .markdown /deep/ .hljs-literal,
  .markdown /deep/ .hljs-variable,
  .markdown /deep/ .hljs-template-variable,
  .markdown /deep/ .hljs-tag .hljs-attr {
    color: #008080;
  }

  .markdown /deep/ .hljs-string,
  .markdown /deep/ .hljs-doctag {
    color: #d14;
  }

  .markdown /deep/ .hljs-title,
  .markdown /deep/ .hljs-section,
  .markdown /deep/ .hljs-selector-id {
    color: #900;
    font-weight: bold;
  }

  .markdown /deep/ .hljs-subst {
    font-weight: normal;
  }

  .markdown /deep/ .hljs-type,
  .markdown /deep/ .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
  }

  .markdown /deep/ .hljs-tag,
  .markdown /deep/ .hljs-name,
  .markdown /deep/ .hljs-attribute {
    color: #000080;
    font-weight: normal;
  }

  .markdown /deep/ .hljs-regexp,
  .markdown /deep/ .hljs-link {
    color: #009926;
  }

  .markdown /deep/ .hljs-symbol,
  .markdown /deep/ .hljs-bullet {
    color: #990073;
  }

  .markdown /deep/ .hljs-built_in,
  .markdown /deep/ .hljs-builtin-name {
    color: #0086b3;
  }

  .markdown /deep/ .hljs-meta {
    color: #999;
    font-weight: bold;
  }

  .markdown /deep/ .hljs-deletion {
    background: #fdd;
  }

  .markdown /deep/ .hljs-addition {
    background: #dfd;
  }

  .markdown /deep/ .hljs-emphasis {
    font-style: italic;
  }

  .markdown /deep/ .hljs-strong {
    font-weight: bold;
  }

}
