<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher pullMax="300" pullMin="70" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="dots"
      pullingIcon="ios-arrow-down">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="totalCount>=0">

    <ion-list-header>
      {{totalCount}} Users
    </ion-list-header>

    <ion-list>
      <button ion-item *ngFor="let user of users" (click)="viewUser(user)">
        <ion-avatar item-start>
          <img [src]="user.avatarUrl">
        </ion-avatar>
        <h2>{{user.name}}&nbsp;<small>{{user.login}}</small></h2>
        <p>{{user.bio}}</p>
      </button>
    </ion-list>

    <div class="list-end-footer" *ngIf="!pageInfo.hasNextPage">
      <span>End</span>
    </div>

  </div>

  <ion-infinite-scroll *ngIf="pageInfo?.hasNextPage" (ionInfinite)="$event.waitFor(appendUsers())">
    <ion-infinite-scroll-content loadingSpinner="dots">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
