<ion-header>

  <ion-navbar>
    <ion-title>{{repoParam.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>
    /{{path}}
  </p>
  <ion-list *ngIf="contents">
    <ng-container *ngFor="let content of contents">
      <button ion-item *ngIf="content.type=='dir'" (click)="viewDir(content.path)">
        <ion-icon name="folder" item-start></ion-icon>
        {{content.name}}
      </button>
    </ng-container>

    <ng-container *ngFor="let content of contents">
      <button ion-item *ngIf="content.type=='file'" (click)="viewFile(content.path)">
        <ion-icon name="document" item-start></ion-icon>
        {{content.name}}
      </button>
      <ion-item *ngIf="content.type=='symlink'">
        <ion-icon name="link" item-start></ion-icon>
        {{content.name}}
      </ion-item>
      <ion-item *ngIf="content.type=='submodule'">
        <ion-icon name="filing" item-start></ion-icon>
        {{content.name}}
      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>
